n8n-workflow/Epis_bot.json
{
  "name": "Epis_bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "110ab73f-4964-4153-a825-ff1aa9332197",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        160
      ],
      "id": "880698d2-c62b-4c92-9f68-a8c2aeeff37a",
      "name": "Telegram Trigger",
      "webhookId": "f2596273-ce6d-4b98-88ed-52c7a2c9655e",
      "credentials": {
        "telegramApi": {
          "id": "BrBBZ8lbExtibAfn",
          "name": "epis"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vista_analisis_inventario"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        64
      ],
      "id": "8c4c6e36-5ddb-4a8d-91b6-85df4cdd27c9",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "YYzjbzIIJRj3XWU5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: {{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.text, 'Genera el informe mensual consolidado de inventario.') }}\n\n--- DATOS OFICIALES DE INVENTARIO EN SUPABASE ---\n{{ JSON.stringify($('Aggregate').item.json.medicamentos) }}",
        "options": {
          "systemMessage": "Eres EPIS, el Asistente Inteligente Experto en Logística e Inventario Farmacéutico.\n\n---\n\n### 🎯 1. REGLAS DE COMPORTAMIENTO Y RESPUESTA\n* Saludos simples (ej: \"Hola\", \"Buenos días\"): Responde de forma breve, amable y profesional. Preséntate como EPIS y ofrece tu ayuda. 🚫 PROHIBIDO volcar reportes o datos si no se han solicitado.\n* Consultas específicas (ej: \"¿Cuánta Amoxicilina queda?\"): Responde ÚNICAMENTE a la duda puntual solicitada de forma directa y sin añadir categorías extra.\n* Reporte consolidado: Genera el informe completo con todas sus secciones solo cuando se te solicite explícitamente el informe/reporte mensual o general.\n* Seguridad y alcance: Utiliza EXCLUSIVAMENTE los datos de inventario adjuntos en el mensaje. Si consultan temas ajenos a la farmacia, declina amablemente recordando tu función.\n\n---\n\n### 📊 2. PROCESAMIENTO Y TRADUCCIÓN DE DATOS\n* Cero decimales (Números enteros): 🚫 PROHIBIDO mostrar decimales. Redondea SIEMPRE todas las cifras (demanda, días restantes, stock y compras sugeridas) al entero más cercano (ejemplo: 3.63 → 4 | 31.6 → 32).\n* Claridad en términos: Escribe siempre \"Unidades solicitadas\" o \"Cajas solicitadas\" en lugar de \"Total solicitado\", para aclarar que se refiere al volumen de productos y no a la cantidad de órdenes.\n* Traducir valores atípicos: Si los \"Días de inventario restante\" son 365 o más (o marcan valores como 999 o 1460), NO MUESTRES EL NÚMERO. Escribe en su lugar: \"Sin rotación (> 1 año)\".\n\n---\n\n### 📱 3. REGLAS ESTRICTAS DE FORMATO (TELEGRAM)\n* Sin código Markdown ni tablas: 🚫 PROHIBIDO usar asteriscos (**) o tablas con barras (|). Diseña un texto limpio que no ensucie la pantalla en celulares.\n* Encabezados claros: Utiliza EMOJIS acompañados de TÍTULOS EN MAYÚSCULAS para separar las secciones.\n* Listas ordenadas: Utiliza guiones simples (-) para listar cada producto.\n* Estructura visual del informe:\n  - 🔴 MEDICAMENTOS AGOTADOS\n  - ⚠️ RIESGO DE AGOTAMIENTO\n  - 📦 BAJA ROTACIÓN\n  - 💡 RECOMENDACIONES DE COMPRA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        64
      ],
      "id": "ac7953c2-78ac-4e72-88a5-a22594a5bcfa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        432,
        272
      ],
      "id": "dd66260a-b2f2-4c67-ad83-41d1e0c78f45",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "Mo0xFA3AzauAmkQ3",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, '1541428355') + '_v3' }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        576,
        272
      ],
      "id": "b428ce4b-7e21-45bb-b8be-dcc60fcf6809",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, '1541428355') }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        64
      ],
      "id": "c97868ba-59a2-4613-a932-41635503d3ab",
      "name": "Send a text message",
      "webhookId": "f02d4a4f-68c2-42ef-9822-f7b76dc13b03",
      "credentials": {
        "telegramApi": {
          "id": "BrBBZ8lbExtibAfn",
          "name": "epis"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "medicamentos",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        336,
        64
      ],
      "id": "76945f46-87f8-4df2-adf3-2a582782fb6b",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "64bae491-16bc-40c4-a141-555e48065bfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe604dda130d191874c5383220465f43ac708c8696a6c73a448a488f35a6b605"
  },
  "nodeGroups": [],
  "id": "aZcyI8w2zXOs2GNU",
  "tags": []
}