n8n-workflow/Registro_usuario_paciente_eps.json
{
  "name": "Registro_usuario_paciente_eps",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f2ac7db-95ec-478a-a5f1-503abc5193c4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        0
      ],
      "id": "6498f8fa-e02b-4d0a-ac1d-8f1ea2d96e6e",
      "name": "Webhook",
      "webhookId": "1f2ac7db-95ec-478a-a5f1-503abc5193c4"
    },
    {
      "parameters": {
        "tableId": "=Pacientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=Cedula",
              "fieldValue": "={{ $json.body.cedula }}"
            },
            {
              "fieldId": "Nombre",
              "fieldValue": "={{ $json.body.nombre_completo }}"
            },
            {
              "fieldId": "Telefono",
              "fieldValue": "={{ $json.body.telefono }}"
            },
            {
              "fieldId": "=Correo",
              "fieldValue": "={{ $json.body.correo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        64
      ],
      "id": "1e5ebbf9-a4b8-41f5-8154-fb287dace705",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "YYzjbzIIJRj3XWU5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \n  \"ok\": true \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        64
      ],
      "id": "cbe2017f-bcc0-49dc-8b0e-8580b18dc5d7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "Registro de usuarios pacientes\n",
        "height": 304,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -96
      ],
      "typeVersion": 1,
      "id": "ca0cf881-65ee-487a-a9fb-a451630f3f91",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "Cedula",
              "condition": "eq",
              "keyValue": "={{ $json.body.cedula }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "f0012889-6831-45db-a002-e51004a457fb",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YYzjbzIIJRj3XWU5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "647f3aae-9035-4b5e-82c4-a529ccfe17b4",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "id": "221159a7-b9e0-4050-a715-01ab52503c20",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": false, \"mensaje\": \"Esta cédula ya está registrada\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        -80
      ],
      "id": "5300c24d-cab8-48bd-9d7f-956237e120d2",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4c8f814-673a-4239-9ccc-f927cbfc156b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe604dda130d191874c5383220465f43ac708c8696a6c73a448a488f35a6b605"
  },
  "nodeGroups": [],
  "id": "EFI4SJ4RmLtw3oWL",
  "tags": []
}