n8n-workflow/Tabla_medicamentos_eps.json
{
  "name": "Tabla_medicamentos_eps",
  "nodes": [
    {
      "parameters": {
        "path": "42918c96-32d2-467a-8d02-045ca65ec77f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -16
      ],
      "id": "7f658334-068b-47c4-b5e5-ee2f0f3085b8",
      "name": "Webhook2",
      "webhookId": "42918c96-32d2-467a-8d02-045ca65ec77f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"medicamentos\": $input.all().map(item => item.json) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        -16
      ],
      "id": "39f3f56c-b50a-4353-bbfa-3683c67c3742",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Medicamentos"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "8a1b1724-8204-44a9-9f79-88cbc770cd9d",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "YYzjbzIIJRj3XWU5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "Tabla de medicamentos\n",
        "height": 224,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -64
      ],
      "typeVersion": 1,
      "id": "407d2f29-72e3-48ce-84c6-fcb8a06bfd19",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "118f2e80-3c88-4ffd-9200-79ae5a901970",
  "meta": {
    "instanceId": "fe604dda130d191874c5383220465f43ac708c8696a6c73a448a488f35a6b605"
  },
  "nodeGroups": [],
  "id": "OLsRxV9R6Mmju8Q4",
  "tags": []
}